.container{

}

.theme-container{

}

.nfts-container{
    column-width: 250px;
    column-gap: 1px;
}

Theme{
    
}

.nfts-container figure{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
}